@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-image: url(./img/fondo3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Mukta', sans-serif;   
}

#espacio{
    margin-top: 4%;
}

header{
    background-color: #FAFAFA;
    width: 100%;
    /*margin: auto;*/
    padding: 10px;
    padding-bottom: 0px;
}


.footer{
    
    background-color: #FFD507;
    padding: 1em 0;
    margin-top: auto;
    height: 100px;  
}

a{
    text-decoration: none; 
}


/* PRUEBAAAAAAAAAA */
.container{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 90vh;
  }
  .cards-wrapper {
    display: flex;
    justify-content: center;
  }
  .card img {
    max-width: 100%;
    max-height: 100%;
  }
  .card {
    width: 21.6rem;
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 0;
  }
  
  .c-header{
  background-color: black;
  color: white;
  }
  .c-footer{
  background-color: #FFD507;
  color: black;
  }
  
  .carousel-inner {
    padding: 1em;
  }
  .carousel-control-prev,
  .carousel-control-next {
    background-color: #e1e1e1;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
  @media (min-width: 768px) {
    .card img {
      height: 11em;
    }
  }
  