@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;400;500;600;700;800&display=swap');

*{
        margin: 0px;
        padding: 0px;
}
:root{
    --yellow-prod: #FFD507;
    --silver-light-prod: #575555;
    --silver-black-prod: #2D2D2D;
    --gray-black-prod: #9C9C9C;
    --gray-light-prod: #F3F3F3;
    --white--prod: #ffffff; 
    --silver-background: #E3E9E6;
}
header{
    background-color: #FAFAFA;
    width: 100%;
    /*margin: auto;*/
    padding: 10px;
    padding-bottom: 0px;
}

.c-header{
    height: 40px;
    background-color: var(--yellow-prod);
}


body{
    font-family: 'Mukta', sans-serif;
    background-color:var(--silver-background);
    width: 100%;
    /*flex-direction: column;
    min-height: 100vh;*/
   background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.footer{
    
    background-color: #FFD507;
    padding: 1em 0;
    margin-top: 40px;
    height: 100px;  
}

.card-form{
    width: 350px;
}