@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;400;500;600;700;800&display=swap');
*{
    margin: 0px;
    padding: 0px;
}

:root{
    --yellow-prod: #FFD507;
    --silver-light-prod: #575555;
    --silver-black-prod: #2D2D2D;
    --gray-black-prod: #9C9C9C;
    --gray-light-prod: #F3F3F3;
    --white--prod: #ffffff; 
    --black--prod: #000000;
}
header{
    background-color: #FAFAFA;
    width: 100%;
    /*margin: auto;*/
    padding: 10px;
    padding-bottom: 0px;
}


body{
    background-color: #fcf3f3;
    font-family: 'Mukta', sans-serif;
   /* background-image: url(./logo2.jpeg);
    width: 100%;
    /*flex-direction: column;
    min-height: 100vh;*/
   background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.container{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 83vh;
}
.cards-wrapper {
    display: flex;
    justify-content: center;
  }
  .card img {
    max-width: 100%;
    max-height: 80%;
  }
  .card {
    height: 15rem;
    width: 21.6rem;
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 0;
  }
  
.c-header{
  background-color: black;
  color: white;
}
.c-footer{
  background-color: #FFD507;
  color: black;
}

  .carousel-inner {
    padding: 1em;
  }
  .carousel-control-prev,
  .carousel-control-next {
    background-color: #e1e1e1;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
  @media (min-width: 768px) {
    .card img {
      height: 11em;
    }
  }
  .footer{
    background-color: #FFD507;
    padding: 1em 0;
    margin-top: auto;
    height: 100px;
  }
