body{
    background-image: url(img/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
/*footer{
    width: 100%;
    background-color: #FFD507;
    margin: auto;
    position: absolute;
    bottom: 0;
    padding: 40px;
}*/