html, body{
    width: 100%;
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    letter-spacing: 0.03em;
    line-height: 1.6;
}


.col{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display:contents;
    flex-wrap: wrap;
    justify-content:center;
    margin: auto;



}

.row{
    width: 100%;
    display: flex;
    margin: auto;
    align-items: center;

}
.col .card{
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
    transition: all 0.25s;
    /* margin-left: 90px; */

}

.col .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.col .card .card-img-top{
    width: 100%;
    height: 286px;
}

.lis{

    height: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.bann{
    display: flex;
    height: 200px;
    background-color: #DBF922;
    margin-bottom: 5px;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    width: 100%;

}

.logo{
    display: flex;
    align-items: center;


}

.logo img{
    height: 150px;
    width: 150px;
}

.logo h2{
    margin-left: 10px;

}

.boton a{
    text-decoration: none;
    font-size: 18px;
}

.boton{
    margin-left: 15px;
    margin-bottom: 20px;


}

@media (max-width:700px){
    .bann{
        flex-direction: column;
    }

}

/* @media (max-width:640px){
    .col .card{
        display: block;
    }
} */
