@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;400;500;600;700;800&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --yellow-prod: #FFD507;
    --silver-light-prod: #575555;
    --silver-black-prod: #2D2D2D;
    --gray-black-prod: #9C9C9C;
    --gray-light-prod: #F3F3F3;
    --white--prod: #ffffff;
    --black--prod: #000000;
}

header {
    background-color: #FAFAFA;
    width: 100%;
    /*margin: auto;*/
    padding: 10px;
    padding-bottom: 0px;
}




body {
    font-family: 'Mukta', sans-serif;
    background-image: url(./logo2.jpeg);
    width: 100%;
    /*flex-direction: column;
    min-height: 100vh;*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.margen {
    padding-top: 70px;
    padding-bottom: 60px;
}

.footer {

    background-color: #FFD507;
    padding: 1em 0;
    margin-top: auto;
    height: 100px;
    width: 100%;
}


.card-custom-p {
    padding: 40px;
}

.pagination>li.active>a {
    background-color: orange !important;
}

.c-footer {
    background-color: var(--yellow-prod);
}

.c-header {
    background-color: var(--black--prod);
}

small {
    margin: auto;
    color: var(--white--prod);
    font-weight: 500;
    font-size: medium;
    text-align: center;
}

/*
.logo{
    height: 60px;
    width: 60px;
}
*/

.botonCompra{
    text-align: center;
}
.header-carrito{
    text-align: left;
}



form.example input[type=text] {
    max-width: 3000px;
    padding: 10px;
    font-size: 17px;
    border: 1px solid #D9D9D9;
    float: left;
    width: 80%;
    background: #D9D9D9;
    color: black;
  }
  
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #D9D9D9;
    color: black;
    font-size: 17px;
    border: 1px solid #D9D9D9;
    
  }
 
  .busqueda{
    position: center;
    margin: 0 auto;
    margin-bottom: auto;
    padding-top: 6px;
    align-content: center;
    align-items: center;
    
  }
  .busqueda,.example{
    justify-content: center;
  }
  .example{
font-display: none;
width: 800px;
  }
  

  
/* Para pantallas grandes hacemos que el formulario se despliegue con amplitud ya que disponemos de espacio en la barra de navegación, la busqueda se ejecuta con intro o pinchando en el icono de la lupa */
@media (min-width:1200px) {
    form.example input[type=text] { width: 80%; }
}

/* Para pantallas menores reducimos el campo de busqueda y hacemos que se despliegue cuando hacemos focus sobre el icono de la lupa. La busqueda se ejecuta con intro o pinchando de nuevo en el icono de la lupa */
@media (max-width: 1200px) {
    form.example input[type=text] {
        width:80%;
        padding: 10px;

    }
    form.example button {
        width:auto;
    }
   
}

/* Para pantallas de smartphones ajustamos el ancho del campo de busqueda */
@media (max-width: 375px) {
    form.example input[type=text] { width: auto; }
    .example{width: auto;}
}